/* span#titleValue {
    margin-left: 8px;
}

#backdrop {
    float: left;
    max-width: 360px;
    border-radius: 8px;
}

#sidedrop {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

#description {
    padding-left: 160px;
}

.main-container {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

#titleName {
    color: #fff;
    font-weight: 900;
}

a:hover {
    color: #ebe1e1;
    text-decoration: none;
}

.poster img {
    width: 100%;
    border-radius: 8px;
}

.bold {
    font-weight: bold;
    font-size: 17px;
}

.movie-detail {
    background-color: #232323;
    padding: 30px;
    border-radius: 15px;

}

.tagline {
    font-size: 19.2px;
    margin-bottom: 10px;
}

.h5,
h5 {
    margin-left: 9px;
}

.btn {
    padding: 6px 16px;
    font-size: 18px;
    margin-left: 10px;
}

.summary-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.heading-bold {
    font-weight: bold;
    font-size: 25px;
}

#overviewStatus {
    margin-right: -5px;
    margin-left: -5px;
}

#description {
    padding-left: 160px;
}

.movie-detail {
    background-color: #232323;
    padding: 30px;
    border-radius: 15px;
}

.header {
    background-color: rgb(66, 35, 51);
}

@media screen and (max-width: 915px) {

    #titleName {
        font-size: 30px;
    }

    #titleValue {
        font-size: 23px;
    }
}

@media screen and (max-width: 822px) {

    #titleName {
        padding-left: 70px;
        font-size: 20px;
    }

    #titleValue {
        font-size: 18px;
    }

    #description {
        padding-left: 170px;
    }

    .logo-image {
        width: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 766px) {

    #titleName {
        padding-left: 70px;
        font-size: 23px;
    }

    #description {
        padding-left: 0px;
    }

    .logo-image {
        width: 90px;
        height: 90px;
    }

}

@media screen and (max-width: 600px) {

    img {
        width: 500px;
        margin-left: 30px;
    }

    #titleName {
        padding-left: 30px;
        font-size: 30px;
    }

    #description {
        text-align: center;
        margin-top: 30px;
        padding-left: 0;
    }

    #sidedrop {
        margin-left: 0;
    }

    .logo-image {
        width: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 420px) {

    img {
        width: 300px;
    }

    #titleName {
        padding-left: 0px;
        font-size: 20px;
    }

    #sidedrop {
        margin-left: 0;
    }

    #description {
        padding-left: 10px;
        margin-top: 30px;
        text-align: center;
    }

    #backdrop {
        padding-right: 50px;
    }

    .rounded-circle {
        width: 100px;
        height: 100px;
    }

    .logo-image {
        width: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 395px) {

    #overviewStatus {
        font-size: small;
    }

    #titleValue {
        font-size: 25px;
    }

    #description {
        padding-left: 18px;
        margin-top: 30px;
    }

    #backdrop {
        max-width: 250px;
        padding-right: 0;
        margin-left: 2px;
    }

    #titleValue {
        font-size: 25px;
    }

    .logo-image {
        width: 60px;
        height: 60px;
    }

}

@media screen and (max-width: 290px) {

    #overviewStatus {
        font-size: small;
    }

    .logo-image {
        width: 60px;
        height: 60px;
    }

}

@media screen and (max-width: 290px) {

    #backdrop {
        max-width: 220px;
        padding-right: 63px;
    }

    #titleValue {
        font-size: 19px;
    }

    #sidedrop {
        width: 260px;
    }

    .row {
        font-size: small;
    }

    .logo-image {
        width: 100px;
        height: 100px;
    }
} */
.custom-logo {
    max-width: 90px; /* Adjust this value as needed */
    height: 90px;
  }
  