body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.poster img {
    width: 100%;
    border-radius: 8px;
}

.bold {
    font-weight: bold;
    font-size: 17px;
}

.movie-detail {
    background-color: #232323;
    padding: 30px;
    border-radius: 15px;
}

.tagline {
    font-size: 19.2px;
    margin-bottom: 10px;
}

.btn {
    padding: 6px 16px;
    font-size: 18px;
}

.summary-heading {
    font-size: 24px;
    margin-bottom: 20px;
}
.heading-bold{
    font-weight: bold;
    font-size: 25px;
}
