#pageTitle{
    font-family: 'Tilt Neon', sans-serif;   
    font-weight: 900;
    text-align: center;
}

a{
    text-decoration: none;
    color: #fcff5d;
}

a:hover{
    text-decoration: none;
    color: hsl(61, 100%, 68%);
}

.container-fluid{
    background-color: rgb(37, 15, 15);
}
input{
    border-radius: 3px;
    border-style: none;
    background-color: rgb(234, 236, 236);
    width:500px;
}

button{
   background-color: rgb(246, 250, 250);
   border-radius: 3px;
    border-style: none;
}
