#searchButton {
    padding: 10px 30px;
    background: #ddd;
    font-size: 20px;
    position: absolute;
    border: none;
    background-color:#fff;
    border-color: #ffffff !important;
    cursor: pointer;
    margin-left: 0;
    box-sizing: border-box;
    
}

input {
    width: 300px;
    border-style: none;
    background-color: #fff;
    
    padding: 10px;
    margin-right: 0;
    font-size: 20px;
    box-sizing: border-box;
}

.search-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

#filterButton {
    font-size: 30px;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

h1 {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
    text-decoration: none;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .0001) !important;
}

.modal {
    width: 102%;
}

input[type="checkbox"] {
    display: block;
    width: fit-content;
}

.modal-content {
    width: 350px;
    border-radius: 0 !important;
    left: 280px;
    border: none;
    background-color: black;
    color: #00ff62;
}

.form-check {
    margin-bottom: 10px;
}

header {
    background-color: transparent !important;
    height: 100px;
    box-sizing: border-box;
    width: 100%;
    vertical-align: bottom;
}

body{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.pinterest.com%2Fpin%2F825777281665322006%2F&psig=AOvVaw2sREMQYxfeVCVfkmb3KVQI&ust=1697109418963000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMCqs7bv7YEDFQAAAAAdAAAAABAI');
  
}

.back-drop{
    background-color: #00000071;
}