#searchButton {
    padding: 10px 30px;
    background: #ddd;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #8800ff;
    color: #fff;
    cursor: pointer;
    margin-left: 0;
    box-sizing: border-box;
}

input {
    width: 500px;
    border-style: none;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    margin-right: 0;
    font-size: 20px;
    box-sizing: border-box;
}

.search-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

#filterButton {
    font-size: 30px;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

a{
    text-decoration: none;
}
h1{
    color: black;
    font-weight: 900;
}
a:hover{
    text-decoration: none;
}
.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;
}

.modal{width:102%;}

input[type="checkbox"]{
    display: block;
    width: fit-content;
}

.modal-content{
    width: 350px;
    border-radius: 0 !important;
    left: 150px;
}

.form-check{
    margin-bottom: 10px;
}

header{
    background-color: aqua !important;
    height: 100px;
    box-sizing: border-box;
    width: 100%;
}